<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{{t "item.full.key"}}</th>
        <th>{{t "item.full.value"}}</th>
        <th>{{t "item.full.language"}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each metadata as |metadatum|}}
      {{items/detailed/item-metadatum-row metadatum=metadatum}}
    {{/each}}
    </tbody>
</table>