html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $footer-height + $footer-margin-top !important;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
}
