<div>{{#link-to 'items.show' item class="item-title"}}{{title}}{{/link-to}}</div>
<div><span class="item-author">{{author}}</span>{{#if date}} <span class="item-date">({{date}})</span>{{/if}}</div>
<div class="item-abstract">{{truncate abstract 250}}</div>