$notification-spacing:                     2px !default;
$notification-max-height:                  800px !default;

.flash-message {
  cursor: pointer;

  &.active {
    animation: notification-show 180ms cubic-bezier(.175, .885, .32, 1.27499);
    -webkit-animation: notification-show 180ms cubic-bezier(.175, .885, .32, 1.27499);
  }

  &.exiting {
    animation: notification-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), notification-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
    -webkit-animation: notification-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), notification-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
}

//
// Notification keyframes
// --------------------------------------------------


// Show keyframes
// -------------------------

@keyframes notification-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}

@-webkit-keyframes notification-show {
  0% {
    opacity: 0;
    -webkit-transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}



// Shrink keyframes
// -------------------------

@keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: $notification-max-height;
    margin-bottom: $notification-spacing;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    transform: scale(.8);
  }
}

@-webkit-keyframes notification-shrink {
  0% {
    opacity: 0;
    max-height: $notification-max-height;
    margin-bottom: $notification-spacing;
    -webkit-transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    -webkit-transform: scale(.8);
  }
}


// Hide keyframes
// -------------------------

@keyframes notification-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@-webkit-keyframes notification-hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.8);
  }
}


// Countdown keyframes
// -------------------------

@keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@-webkit-keyframes notification-countdown {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
