$header-bg: $mirage-blue;
$header-fg: #fafafa;

header .navbar.navbar-inverse {
  background-color: $header-bg;
  color: $header-fg;

  .navbar-brand {
    color: $header-fg;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
  }
}
