@media screen and (max-width: $screen-sm-max) {

  #main-container {
    overflow-x: hidden;
    padding-bottom: 1px;

    &.opened {
      overflow-x: visible;
    }
  }

  //#sidebar{
  //  display: none;
  //}

  /*
   * Off Canvas : improved version of http://getbootstrap.com/examples/offcanvas/
   * --------------------------------------------------
   */

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -33.333333333%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33.333333333%;
  }

  #main-container.opened {
    .row-offcanvas-right {
      right: 33.333333333%;
    }

    .row-offcanvas-left {
      left: 33.333333333%;
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33.333333333%;
  }
}

@media screen and (max-width: $screen-xs-max) {

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 6 columns */
  }

  #main-container.opened {
    .row-offcanvas-right {

      .flash-message-container,
      .main-content {
        padding-right: $grid-gutter-width;
      }

      .sidebar-offcanvas {
        margin-right: $grid-gutter-width;
      }

      right: 100%; /* 6 columns */
    }

    .row-offcanvas-left {

      .flash-message-container,
      .main-content {
        padding-left: $grid-gutter-width;
      }

      .sidebar-offcanvas {
        margin-left: $grid-gutter-width;
      }

      left: 100%; /* 6 columns */
    }
  }

  .sidebar-offcanvas {
    width: 100%; /* 6 columns */
  }
}

.sidebar-toggle {
  position: relative;
  float: left;
  //margin-left: $navbar-padding-horizontal;
  padding: 9px 10px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: $border-radius-base;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: $navbar-inverse-toggle-icon-bar-bg;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}

.sidebar-section {
  margin-bottom: 40px;

  ul {
    list-style: none;
    padding: 0;
    //background-color: rgba(0, 0, 0, 0.04);

    li > * {
      display: block;
      padding: 0 0 0 $grid-gutter-width/2;
    }

  }

  & > .sidebar-simple-section-element {
    font-weight: 100;
    letter-spacing: 0.1em;
    color: $list-group-active-color;
    background-color: $mirage-blue;
    border-color: $mirage-blue;
    @include border-top-radius($list-group-border-radius);
  }

  & > ul {
    background-color: transparent;

    & > li {
      border: 1px solid $list-group-border;
      border-top: 0;
      &:last-child {
        margin-bottom: 0;
        @include border-bottom-radius($list-group-border-radius);
      }

      & > * {
        padding-left: 0;
      }
    }
  }

  .sidebar-simple-section-element {
    a, span {
      padding: 10px 15px;
      display: block;
      background-color: transparent;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
