$mirage-blue: #1f3f5e;
$nav-pills-active-link-hover-bg: $mirage-blue;
$font-size-base:          14px !default;
$font-size-h1:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h2:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h3:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h4:            $font-size-base !default;
$font-size-h5:            ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h6:            ceil(($font-size-base * 0.75)) !default;
$icon-font-path: 'fonts/';
