<div class="flash-message-container container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                  {{#each flashMessages.arrangedQueue as |flash|}}
                    {{flash-message flash=flash}}
                  {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>