<div class="flash-message-container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          {{#each flashMessages.arrangedQueue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}
        </div>
    </div>
</div>