<footer>
    <div class="container">
        <p>
            <a href="http://www.dspace.org/">{{t "footer.link.dspace"}}</a> {{t "footer.copyright"}}{{formatted-current-date "YYYY"}}
        <a href="http://www.duraspace.org/">{{t "footer.link.duraspace"}}</a></p>
    </div>
</footer>