<h2 class="page-header">News</h2>
<p class="alert alert-info">The REST API doesn't support sending the homepage news, so this is hardcoded for now</p>
<div id="file_news_div_news" class="ds-static-div primary">
    <p class="ds-paragraph">Welcome to the DSpace.org demostration/sample repository (Manakin / XMLUI interface)!</p>

    <p class="ds-paragraph">This repository is currently running on <strong>DSpace version 5.3</strong>, with the
        following extra features enabled:
    </p>
    <ul class="ds-simple-list">
        <li class="ds-simple-list-item">Mirage2 Responsive Theme</li>
        <li class="ds-simple-list-item">
            <a href="http://mobile.demo.dspace.org/xmlui/">Mobile Theme</a>
        </li>
        <li class="ds-simple-list-item">Authority Control (on Authors and Publishers) in Submission process</li>
        <li class="ds-simple-list-item">new Solr Authority index with ORCID support (Submission and Edit item -
            Metadata)
        </li>
        <li class="ds-simple-list-item">MathJax to render scientific formulas</li>
        <li class="ds-simple-list-item">Community/Collection/Item Statistics are publicly visible</li>
        <li class="ds-simple-list-item">Google Analytics statistics XMLUI Aspect</li>
        <li class="ds-simple-list-item">OpenSearch</li>
        <li class="ds-simple-list-item">Google Scholar metadata</li>
        <li class="ds-simple-list-item">SWORD Client</li>
        <li class="ds-simple-list-item">Elastic Search Statistics (login as admin and browse to any
            community/collection/item, then choose the last 'View Usage Statistics' link from the menu)
        </li>
        <li class="ds-simple-list-item">Submission form Restrict step advanced form</li>
    </ul>

    <p></p>

    <p class="ds-paragraph">The following Demo Users are set up in the system (all users have password equal to the
        lowercase name of this software):
    </p>
    <ul class="ds-simple-list">
        <li class="ds-simple-list-item">Demo Site Administrator = "dspacedemo+admin@gmail.com"</li>
        <li class="ds-simple-list-item">Demo Community Administrator = "dspacedemo+commadmin@gmail.com"</li>
        <li class="ds-simple-list-item">Demo Collection Administrator = "dspacedemo+colladmin@gmail.com"</li>
        <li class="ds-simple-list-item">Demo Submitter = "dspacedemo+submit@gmail.com"</li>
    </ul>

    <p></p>

    <p class="ds-paragraph">
        <strong>WARNING:</strong> All content on this site resets automatically <strong>every Saturday at 23:59
        UTC</strong>, at which point any changes are lost.</p>
</div>
