<h2 class="page-header">News</h2>
<div id="file_news_div_news" class="ds-static-div primary">
    <p class="ds-paragraph">Welcome to the DSEmber DSpace UI prototype demo instance!</p>

    <p class="ds-paragraph">This demo is running on top of the <a href="https://demo.dspace.org/rest">demo.dspace.org REST API</a></p>
    <p class="ds-paragraph">The following account info can be used to log in (the password is equal to the
        lowercase name of the repository platform):
    </p>
    <ul class="ds-simple-list">
        <li class="ds-simple-list-item">Demo Site Administrator = "dspacedemo+admin@gmail.com"</li>
    </ul>

    <p></p>

    <p class="ds-paragraph">
        <strong>WARNING:</strong> All content on this site resets automatically <strong>every Saturday at 23:59
        UTC</strong>, at which point any changes are lost.</p>
</div>
