<div class="page-not-found">
    <h1>404</h1>
    <h2><small>{{t "404.page-not-found"}}</small></h2>
    <br>
    <p>{{t "404.help"}}</p>
    <br>
    <p class="text-center">
      {{#link-to "index" class="btn btn-primary"}}{{t "404.link.home-page"}}{{/link-to}}
    </p>
</div>