<div class="item-list">
  {{#each model as |item|}}
    {{items/list-entry item=item}}
  {{/each}}
</div>
{{#if needsPagination}}
    <ul class="pager">
      {{#pagination-base action='previousPage' isEnabled=hasPreviousPage class="previous"}}
          <span aria-hidden="true">&laquo;</span> {{t "pagination.prev"}}
      {{/pagination-base}}
      {{#pagination-base action='nextPage' isEnabled=hasNextPage class="next"}}
        {{t "pagination.next"}} <span aria-hidden="true">&raquo;</span>
      {{/pagination-base}}
    </ul>
    <div class="alert alert-info" role="alert">
        <strong>Note</strong><br>because of a <a href="https://jira.duraspace.org/browse/DS-2881" target="_blank">
        bug in the REST API</a>, the server can return an inconsistent number of results per page. When this issue is
        resolved, it will start to work in this prototype as well.
    </div>
{{/if}}