<div class="col-xs-6 col-sm-3">
  {{bitstreams/thumb-nail thumbnailLink=row.thumbnail.retrieveLink originalLink=row.original.retrieveLink filename=row.original.name}}
</div>
<div class="col-xs-6 col-sm-7">
  {{bitstreams/detailed/file-metadata bitstream=row.original}}
</div>
<div class="col-xs-6 col-xs-offset-6 col-sm-2 col-sm-offset-0">
  {{bitstreams/detailed/file-link link=originalLink filename=row.original.name}}
</div>