<h1 class="page-header">{{model.name}}</h1>
<ul class="nav nav-tabs">
  {{#link-to 'collections.collection.home' tagName='li' role="presentation"}}
      <a href="#">{{t 'collection.tab.home'}}</a>
  {{/link-to}}
  {{#link-to 'collections.collection.items' tagName='li' role="presentation"}}
      <a href="#">{{t 'collection.tab.browse'}}</a>
  {{/link-to}}
</ul>
<div class="tab-content">
    <div class="tab-pane active">
      {{outlet}}
    </div>
</div>